@charset "UTF-8";
/* font */
@font-face {
    font-family: 'GmarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
/* common */
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
.mobile-br {
    display: none;
}
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    word-break: break-all;
}
.inner {
    width: 900px;
    max-width: 92%;
    margin: 0 auto;
}
.inner::after {
    content: '';
    display: block;
    clear: both;
}
/*icon*/
.ico {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    text-indent: -99999px;
    overflow: hidden;
}
/* effect */
@keyframes rubberBand{
    0%{transform:scaleX(1);}
    30%{transform:scale3d(1.25,0.75,1);}
    40%{transform:scale3d(0.75,1.25,1);}
    50%{transform:scale3d(1.15,0.85,1);}
    65%{transform:scale3d(0.95,1.05,1);}
    75%{transform:scale3d(1.05,0.95,1);}
    100%{transform:scaleX(1);}
}
@keyframes visibleOpacity{
    from{opacity:0;}
    to{opacity:1;}
}
@keyframes twinkle {
    0% {opacity: 1;}
    50% {opacity: 0;}
    70% {opacity: 1;}
    100% {opacity: 1;}
}
@keyframes appendMotion {
    0%{transform:scale(0)}
    25%{transform:scale(1)}
    50%{transform:scale(1.1)}
    70%{transform:scale(1)}
    80%{transform:scale(1)}
}
/*slick style*/
.slick-slider {
    width: 100%;
}
.slick-list {
    overflow: hidden;
    font-size: 0;
    z-index: 10;
}
.slick-slide {
    float: left;
}
/* header */
header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8rem;
    padding: 0 4.5rem;
    background: #fff;
    z-index: 10;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
header h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #222;
}
header h1 span {
    color: #37d65f;
}
header .btn-menu {
    position: fixed;
    top: 0;
    right: 4.5rem;
    display: inline-block;
    width: 7.5rem;
    height: 8rem;
    text-indent: -9999px;
    overflow: hidden;
    z-index: 11;
}
header .btn-menu::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2.4rem;
    height: 3px;
    margin-top: -0.5rem;
    background: #222;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}
header .btn-menu::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2.4rem;
    height: 3px;
    margin-top: 0.5rem;
    background: #222;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}
header .menu-area {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #1a1a1a;
    z-index: 10;
}
header .menu-content {
    position: absolute;
    top: 50%;
    width: 100%;
    color: #fff;
    text-align: center;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
header .menu-content h2 {
    font-size: 4rem;
    font-weight: 700;
}
header .menu-content h2 ~ * {
    opacity: 0;
}
header .menu-content h2 + p {
    font-size: 1.4rem;
    font-weight: 100;
    margin-top: 2rem;
}
header .menu-content ul {
    margin: 10rem 0;
}
header .menu-content ul li {
    font-size: 2.3rem;
}
header .menu-content ul li + li {
    margin-top: 3.5rem;
}
header .menu-content ul li a {
    display: block;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
header .menu-content ul li:hover a {
    color: #6aff56;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
header .menu-content .copyright b {
    font-size: 3rem;
}
header .menu-content .copyright p {
    margin-top: 1.5rem;
    font-size: 1.2rem;
    font-weight: 100;
}
header.menu-open .menu-area {
    display: block;
}
header.menu-open .btn-menu::before {
    width: 3rem;
    margin-top: 0;
    background: #00fd24;
    transform: translate(-50%,-50%) rotate(45deg);
    -webkit-transform: translate(-50%,-50%) rotate(45deg);
    -moz-transform: translate(-50%,-50%) rotate(45deg);
    -ms-transform: translate(-50%,-50%) rotate(45deg);
    -o-transform: translate(-50%,-50%) rotate(45deg);
}
header.menu-open .btn-menu::after {
    width: 3rem;
    margin-top: 0;
    background: #00fd24;
    transform: translate(-50%,-50%) rotate(-45deg);
    -webkit-transform: translate(-50%,-50%) rotate(-45deg);
    -moz-transform: translate(-50%,-50%) rotate(-45deg);
    -ms-transform: translate(-50%,-50%) rotate(-45deg);
    -o-transform: translate(-50%,-50%) rotate(-45deg);
}
header.menu-open .menu-content h2 {
    animation: rubberBand 1s forwards;
    -webkit-animation: rubberBand 1s forwards;
}
header.menu-open .menu-content h2 ~ * {
    animation: visibleOpacity 0.5s forwards;
    -webkit-animation: visibleOpacity 0.5s forwards;
}
header.active {
    background: #1a1a1a;
    box-shadow: 0 0 0.9rem -0.3rem rgba(0,0,0,0.3);
}
header.active h1 {
    color: #fff;
}
header.active .btn-menu::after,
header.active .btn-menu::before {
    background: #37d65f;
}

/* footer */
footer {
    color: #fff;
    background: #1a1a1a;
}
footer .inner {
    padding: 4rem 3.5rem;
}
footer h2 {
    font-weight: 700;
    font-size: 3rem;
}
footer h2 + p {
    margin-top: 0.5rem;
    font-weight: 100;
    font-size: 1.4rem;
}
footer ul {
    margin-top: 3rem;
}
footer ul li {
    font-size: 1.8rem;
}
footer ul li a {
    position: relative;
    display: inline-block;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
footer ul li:hover a {
    color: #6aff56;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
footer ul li + li {
    margin-top: 1.5rem;
}
footer .copyright {
    text-align: right;
}
footer .copyright b {
    font-size: 3rem;
}
footer .copyright p {
    margin-top: 0.5rem;
    font-weight: 100;
    font-size: 1.2rem;
    color: #ccc;
}

/* content */
section {
    position: relative;
    padding: 7.5rem 0;
}
section h2 {
    font-weight: 700;
    font-size: 3.4rem;
    color: #1a1a1a;
}
section h2 + p {
    margin-top: 0.5rem;
    font-weight: 400;
    font-size: 2rem;
    color: #555;
}
section .content {
    display: grid;
    margin-top: 2.5rem;
}
.main-visual {
    position: relative;
    width: 100%;
    height: 100vh;
}
.main-visual .main-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    z-index: 1;
}
.main-visual .main-text h2 {
    position: relative;
    font-weight: 700;
    font-size: 12rem;
    line-height: 1.25;
    letter-spacing: 2rem;
    z-index: 1;
}
.main-visual .main-text h2::after {
    content: 'PORT';
    position: absolute;
    top: 0.6rem;
    left: -0.7rem;
    color: #fff;
    text-shadow: -0.2rem -0.2rem #000, -0.2rem 0.2rem #000, 0.2rem 0.2rem #000, 0.2rem 0.1rem #000;
    z-index: -1;
}
.main-visual .main-text h2::before {
    content: 'FOLIO';
    position: absolute;
    bottom: -0.6rem;
    left: -0.7rem;
    color: #fff;
    text-shadow: -0.2rem -0.2rem #000, -0.2rem 0.2rem #000, 0.2rem 0.2rem #000, 0.2rem 0.1rem #000;
    z-index: -1;
}
.main-visual .main-text h2 + p {
    margin-top: 5rem;
    text-align: center;
    font-size: 1.8rem;
    color: #222;
    letter-spacing: 0.3rem;
}
.main-visual .rotate-border{
    position: absolute;
    top: 0;
    left: 0;
    width: 125%;
    height: 100%;
    margin: -0.8rem 0 0 -11rem;
    z-index: -1;
}
.main-visual .rotate-border::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0.1rem solid #37d65f;
    transform: skew(-54deg);
    -webkit-transform: skew(-54deg);
    -moz-transform: skew(-54deg);
    -ms-transform: skew(-54deg);
    -o-transform: skew(-54deg);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: -1;
}
.main-visual .rotate-border .ico-twinkle {
    position: absolute;
    left: 0;
    bottom: -4.5rem;
    width: 8.6rem;
    height: 9rem;
    background: url(../img/ico_tit_twinkle.png) no-repeat center / 100%;
    animation: twinkle 2s infinite;
    -webkit-animation: twinkle 2s infinite;
}
.main-visual .rotate-border .ico-twinkle-sm {
    position: absolute;
    right: 0;
    top: -2.3rem;
    width: 5rem;
    height: 5.2rem;
    background: url(../img/ico_tit_twinkle.png) no-repeat center / 100%;
    transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    animation: twinkle 1s infinite;
    -webkit-animation: twinkle 1s infinite;
}
.main-visual .ico-twinkle-left {
    position: absolute;
    top: 16rem;
    left: 14rem;
    width: 4rem;
    height: 4.6rem;
    background: url(../img/ico_twinkle.png) no-repeat center / 100%;
    animation: twinkle 1.5s infinite;
    -webkit-animation: twinkle 1.5s infinite;
}
.main-visual .ico-twinkle-right {
    position: absolute;
    bottom: 16rem;
    right: 18rem;
    width: 4rem;
    height: 4.6rem;
    background: url(../img/ico_twinkle.png) no-repeat center / 100%;
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    animation: twinkle 2s infinite;
    -webkit-animation: twinkle 2s infinite;
}
.main-visual .worked {
    position: absolute;
    top: 10.8rem;
    right: 7rem;
    font-size: 2rem;
    color: #6be189;
    letter-spacing: 0.4rem;
    transform-origin: right top;
    transform: rotate(90deg) translate(100%);
    -webkit-transform: rotate(90deg) translate(100%);
    -moz-transform: rotate(90deg) translate(100%);
    -ms-transform: rotate(90deg) translate(100%);
    -o-transform: rotate(90deg) translate(100%);
}
.about-me .content {
    grid-template-columns: 1fr 42rem;
}
.about-me .content p {
    font-size: 1.8rem;
    line-height: 1.7;
    color: #555;
}
.about-skill .content {
    grid-template-columns: 51.5rem 1fr;
}
.about-skill .content ul {
    display: flex;
    max-height: 29.3rem;
    justify-content: flex-end;
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: right;
    overflow: hidden;
}
.about-skill .content li {
    animation:appendMotion 0.5s;
    -webkit-animation:appendMotion 0.5s;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}
.about-skill .content li:nth-of-type(even) {
    padding-left: 3rem;
    text-align: left;
}
.about-skill .content li:nth-of-type(even) span {
    color: #222;
    background: #e5e5ea;
    border-radius: 1.8rem 1.8rem 1.8rem 0;
    -webkit-border-radius: 1.8rem 1.8rem 1.8rem 0;
    -moz-border-radius: 1.8rem 1.8rem 1.8rem 0;
    -ms-border-radius: 1.8rem 1.8rem 1.8rem 0;
    -o-border-radius: 1.8rem 1.8rem 1.8rem 0;
}
.about-skill .content li:nth-of-type(odd) {
    padding-right: 3rem;
}
.about-skill .content li + li {
    margin-top: 1.5rem;
}
.about-skill .content li span {
    display: inline-block;
    padding: 0.9rem 1.4rem;
    font-size: 2rem;
    color: #fff;
    background: #37d65f;
    border-radius: 1.8rem 1.8rem 0 1.8rem;
    -webkit-border-radius: 1.8rem 1.8rem 0 1.8rem;
    -moz-border-radius: 1.8rem 1.8rem 0 1.8rem;
    -ms-border-radius: 1.8rem 1.8rem 0 1.8rem;
    -o-border-radius: 1.8rem 1.8rem 0 1.8rem;
}
.portfolio ul {
    margin-top: 4.5rem;
}
.portfolio li + li {
    margin-top: 8rem;
}
.portfolio li a {
    display: inline-block;
}
.portfolio .img-area {
    position: relative;
    display: inline-block;
}
.portfolio .img-area .pet-promotion-slide,
.portfolio .img-area .promotion-slide{
    width: 55.4rem;
}
.portfolio .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.portfolio .slick-dots li button {
    width: 0.8rem;
    height: 0.8rem;
    margin: 0 0.5rem;
    font-size: 0;
    border: 0.1rem solid #37d65f;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.portfolio .slick-dots li.slick-active button{
    background:#37d65f;
}
.portfolio .slick-dots li + li {
    margin-top: 0;
}
.portfolio .label-list {
    position: absolute;
    top: 0;
    right: -4.5rem;
    transform-origin: right top;
    transform: rotate(90deg) translateX(100%);
    -webkit-transform: rotate(90deg) translateX(100%);
    -moz-transform: rotate(90deg) translateX(100%);
    -ms-transform: rotate(90deg) translateX(100%);
    -o-transform: rotate(90deg) translateX(100%);
}
.portfolio .label-list span {
    padding: 0.8rem 1.4rem;
    font-size: 1.6rem;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
}
.portfolio li:nth-of-type(even) {
    text-align: right;
}
.portfolio li:nth-of-type(even) .label-list {
    right: initial;
    left: -2.5rem;
    transform-origin: left top;
    transform: rotate(90deg) translateX(0);
    -webkit-transform: rotate(90deg) translateX(0);
    -moz-transform: rotate(90deg) translateX(0);
    -ms-transform: rotate(90deg) translateX(0);
    -o-transform: rotate(90deg) translateX(0);
} 
.portfolio .label-list span.green {
    color: #0ece3e;
    background: #e0ffe8;
}
.portfolio .label-list span.blue {
    color: #5d80ff;
    background: #e3eaff;
}
.portfolio ul h3 {
    font-weight: 700;
    font-size: 2.2rem;
    margin-top: 2rem;
}
.portfolio ul h3 + p {
    margin-top: 1rem;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #555;
}
h2 + .slide-wrap {
    margin-top: 5rem;
}
.slick-slider + .slick-slider {
    margin-top: 3rem;
}
.other .inner {
    overflow: hidden;
}
.other .page-box {
    max-width: 38rem;
    padding: 0 1rem;
}
.other h3 {
    margin: 1.5rem 0 1rem;
    font-weight: 700;
    font-size: 1.6rem;
}
.other h3 ~ p {
    font-size: 1.3rem;
    color: #555;
}
@media screen and (max-width: 1200px) {
    header {
        padding: 0 2.5rem;
    }
    header .btn-menu {
        right: 0;
    }
    .main-visual {
        overflow: hidden;
    }
    .main-visual .main-text h2 {
        white-space: nowrap;
    }
    .main-visual .worked {
        right: 2.5rem;
    }
}

@media screen and (max-width: 1024px) {
    html {
        font-size: 10px;
    }
    .about-me .content {
        grid-template-columns: 1fr 33rem;
    }
    .about-skill .content {
        grid-template-columns: 36.5rem 1fr;
    }
    .about-skill .content ul {
        height: 29.3rem;
    }
    .about-skill .content .skill-img {
        overflow: hidden;
        border-radius: 0.8rem;
        -webkit-border-radius: 0.8rem;
        -moz-border-radius: 0.8rem;
        -ms-border-radius: 0.8rem;
        -o-border-radius: 0.8rem;
    }
    .about-skill .content .skill-img img {
        width: 100%;
        height: 100%;
        object-fit:  cover;
    }
}
@media screen and (max-width: 768px) {
    html {
        font-size: 2.64vw;
    }
    .mobile-br {
        display: block;
    } 
    .wrap {
        overflow: hidden;
    }
    header {
        height: 6rem;
        padding: 0 1.5rem;
    }
    header h1 {
        font-size: 2rem;
    }
    header .btn-menu {
        width: 6.5rem;
        height: 6rem;
    }
    header .btn-menu::after,
    header .btn-menu::before {
        height: 2px;
    }

    header .menu-content h2 {
        font-size: 3.5rem;
    }
    header .menu-content ul {
        margin: 5rem 0;
    }
    header .menu-content ul li {
        font-size: 1.8rem;
    }
    header .menu-content ul li + li {
        margin-top: 2rem;
    }
    header .menu-content .copyright b {
        font-size: 2rem;
    }
    footer .inner {
        padding: 4rem 0;
    }
    footer .copyright {
        margin-top: 4rem;
        text-align: right;
    }
    footer .copyright b {
        font-size: 2rem;
    }
    .main-visual .worked {
        top: auto;
        right: 1.5rem;
        bottom: 1.5rem;
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
        transform: translate(0) rotate(0);
        -webkit-transform: translate(0) rotate(0);
        -moz-transform: translate(0) rotate(0);
        -ms-transform: translate(0) rotate(0);
        -o-transform: translate(0) rotate(0);
    }
    .main-visual .main-text h2 {
        font-size: 5rem;
        text-align: center;
    }
    .main-visual .main-text h2::before {
        bottom: -0.45rem;
        left: -0.3rem;
    }
    .main-visual .main-text h2::after {
        top: 0.45rem;
        left: 1.55rem;
    }
    .main-visual .main-text h2 + p {
        font-size: 1.4rem;
        margin-top: 3rem;
    }
    .main-visual .main-text h2 + p b {
        display: block;
        font-size: 1.1em;
    }
    .main-visual .rotate-border {
        width: 90%;
        height: 90%;
        margin: -2rem 0 0 1.5rem;
    }
    .main-visual .ico-twinkle-left {
        left: 5rem;
        width: 3rem;
        height: 3.6rem;
    }
    .main-visual .ico-twinkle-right {
        right: 4rem;
        width: 3rem;
        height: 3.6rem;
    }
    .main-visual .rotate-border .ico-twinkle-sm {
        top: -2.3rem;
        width: 4rem;
        height: 4.2rem;
    }
    .main-visual .rotate-border .ico-twinkle {
        bottom: -2.4rem;
        width: 4.6rem;
        height: 5rem;
    }
    section {
        padding: 5.5rem 0;
    }
    section h2 {
        font-size: 2.3rem;
        letter-spacing: -0.1rem;
    }
    section h2 + p {
        font-size: 1.8rem;
    }
    section .content {
        margin-top: 1.5rem;
    }
    h2 + .slide-wrap {
        margin-top: 2.5rem;
    }
    .about-me .content {
        display: flex;
        flex-wrap: wrap;
    }
    .about-me .content p {
        order: 2;
        margin-top: 2rem;
        font-size: 1.7rem;
        letter-spacing: -0.1rem;
    }
    .about-me .content .profile-img {
        width: 100%;
        order: 1;
        text-align: right;
    }
    .about-me .content .profile-img img {
        width: 85%;
    }
    .about-skill .content {
        position: relative;
        display: block;
        overflow: hidden;
        border-radius: 0.8rem;
        -webkit-border-radius: 0.8rem;
        -moz-border-radius: 0.8rem;
        -ms-border-radius: 0.8rem;
        -o-border-radius: 0.8rem;
    }
    .about-skill .content ul {
        padding-bottom: 1rem;
        background: rgba(0,0,0,0.35);
    }
    .about-skill .content li span {
        font-size: 1.7rem;
    }
    .about-skill .content .skill-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    .portfolio ul {
        margin-top: 2.5rem;
    }
    .portfolio li:nth-of-type(even) {
        text-align: left;
    }
    .portfolio ul h3 {
        font-size: 2rem;
    }
    .portfolio ul h3 + p {
        margin-top: 0.8rem;
        font-size: 1.4rem;
        letter-spacing: -0.09rem;
    }
    .portfolio .img-area {
        width: 100%;
        padding-right: 2.5rem;
    }
    .portfolio .img-area .pet-promotion-slide, 
    .portfolio .img-area .promotion-slide {
        width: 100%;
    }
    .portfolio .label-list {
        right: 0;
    }
    .portfolio li:nth-of-type(even) .label-list {
        right: 0;
        left: initial;
        transform-origin: right top;
        transform: rotate(90deg) translateX(100%);
        -webkit-transform: rotate(90deg) translateX(100%);
        -moz-transform: rotate(90deg) translateX(100%);
        -ms-transform: rotate(90deg) translateX(100%);
        -o-transform: rotate(90deg) translateX(100%);
    }
    .portfolio .label-list span {
        padding: 0.4rem 0.7rem;
        font-size: 1.3rem;
    }
    .other .page-box {
        max-width: 92vw;
        padding: 0;
    }
}
